$base-font: 'Lato', sans-serif;
$head-font: 'Poppins', sans-serif;
$primary-color: #f5363e;
$bg-color: #f7f7f7;
$border-color: rgb(241, 241, 241);
$primary-color-hover: #741294;
$link-color: rgb(13, 17, 54);
$span-color: rgb(119, 121, 140);

$screen-sh: 380px;
$screen-sm: 576px;
$screen-md: 800px;
$screen-lg: 992px;
$screen-xl: 1200px;

@mixin sh {
  @media (max-width: #{$screen-sh}) {
    @content;
  }
}
@mixin sm {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}
@mixin md {
  @media (max-width: #{$screen-md}) {
    @content;
  }
}
@mixin lg {
  @media (max-width: #{$screen-lg}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  font-family: $base-font;
  overflow-x: hidden;
  &.overflow {
    overflow: hidden;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $head-font;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  @include sm {
    max-width: 347px;
  }
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000000;
}
.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 54, 62, 0.25);
}

#nprogress .spinner {
  display: none !important;
}

figure.image img {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.credit_component img {
  width: 20% !important;
  @include sm {
    width: 40% !important;
  }
}
