.order_received-wrapper {
    background-color: rgb(247, 247, 247);
    position: relative;
    min-height: 100vh;
    padding: 20px 0 60px;
    .order_received-container {
        background-color: rgb(255, 255, 255);
        position: relative;
        width: 870px;
        margin-left: auto;
        margin-right: auto;
        border-width: 1px;
        border-style: solid;
        border-color: $border-color;
        border-image: initial;
        padding: 60px;
        border-radius: 6px;
        overflow: hidden;
        .home_btn {
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            font-family: $base-font;
            font-size: 15px;
            font-weight: 400;
            color: $span-color;
            height: 36px;
            position: absolute;
            top: 15px;
            right: 15px;
            padding: 5px 15px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(230, 230, 230);
            border-image: initial;
            border-radius: 6px;
            transition: all 0.15s ease-in-out 0s;
            &:hover {
                background-color: $primary-color;
                color: rgb(255, 255, 255);
                border-color: $primary-color;
            }
        }
        .order_info {
            margin-bottom: 60px;
            h2 {
                font-family: $head-font;
                font-size: 21px;
                font-weight: 700;
                color: $link-color;
                line-height: 1;
                margin-bottom: 32px;
            }
            p {
                font-family: $base-font;
                font-size: 15px;
                color: $link-color;
                font-weight: 400;
                line-height: 1.2;
                display: block;
                margin: 0;
            }
            .info_block-wrapper {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                justify-content: space-between;
                margin-top: 30px;
                .info_block {
                    -webkit-box-flex: 1;
                    flex-grow: 1;
                    padding: 0 15px;
                    border-left: 1px solid $border-color;
                    &:first-child {
                        padding-left: 0;
                        border-left: 0;
                    }
                    p {
                        font-size: 15px;
                        color: $link-color;
                        font-weight: 700;
                        line-height: 1.2;
                        display: block;
                        margin: 0;
                        &.title {
                            margin-bottom: 10px;
                        }
                        &:last-child {
                            color: $span-color;
                            font-weight: 400;
                        }
                    }
                }
            }
            .list_item {
                display: flex;
                margin-bottom: 20px;
                .list_title {
                    flex-basis: 210px;
                    max-width: 210px;
                    flex-shrink: 0;
                    position: relative;
                    &::after {
                        content: ":";
                        position: absolute;
                        top: -1px;
                        right: -2px;
                        line-height: 1;
                    }
                    p {
                        color: $link-color;
                        font-weight: 700;
                    }
                }
                .list_desc {
                    padding-left: 90px;
                    p {
                        color: $span-color;
                    }
                }
            }
        }
    }
}