main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: $bg-color;
  padding-right: 0;
  transition: padding-right 0.35s ease-in-out 0s;
  .content {
    width: calc(100% - 280px);
    height: auto;
    min-height: 100vh;
    padding: 30px 30px 50px;
    .breadcrumb {
      margin-bottom: 30px;
      border-radius: 6px;
      background-color: #fff;
      .breadcrumb-item {
        line-height: 1.2em;
        font-size: 15px;
        a {
          font-family: $base-font;
          font-size: 15px;
          font-weight: 500;
          color: $link-color;
          line-height: 1.2em;
          text-decoration: none;
          transition: all 0.15s ease-in-out 0s;
          &:hover {
            color: $primary-color;
          }
        }
      }
      .breadcrumb-item + .breadcrumb-item::before {
        display: inline-block;
        padding-right: 0.5rem;
        color: $link-color;
        content: "›";
      }
    }
    @include sm {
      width: 100%;
      padding: 30px 7.5px;
      .breadcrumb {
        display: none;
      }
    }
    .control_bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 25px;
      margin-bottom: 30px;
      border-radius: 6px;
      background-color: #fff;
      @include sm {
        display: block;
        padding: 15px;
      }
      h3 {
        font-family: $head-font;
        font-size: 21px;
        font-weight: 700;
        color: $link-color;
        line-height: 1;
        margin-bottom: 0;
        @include sm {
          margin-bottom: 15px;
          text-align: center;
        }
      }
      .controls {
        display: flex;
        align-items: center;
        @include sm {
          justify-content: space-between;
          flex-wrap: wrap;
        }
        .btn.btn_filter {
          display: none;
          @include sm {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #f5363e;
            width: auto;
            padding: 0 15px;
            color: #fff;
            font-weight: 700;
            height: 38px;
            font-size: 15px;
            text-decoration: none;
            border-width: 0;
            border-style: none;
            border-style: initial;
            border-color: currentColor;
            border-color: initial;
            -o-border-image: none;
            border-image: none;
            -o-border-image: initial;
            border-image: initial;
            transition: all 0.3s ease 0s;
            border-radius: 6px;
            .btn_text {
              padding-left: 4px;
              padding-right: 4px;
              white-space: nowrap;
            }
            .filter_icon {
              display: flex;
              justify-content: center;
              align-items: center;
              svg {
                font-size: 15px;
              }
            }
          }
        }
        .controls_icon {
          display: inline-block;
          width: 36px;
          height: 36px;
          padding: 0;
          margin-right: 10px;
          border: none;
          border-radius: 6px;
          background-color: $bg-color;
          transition: all 0.2s ease-in-out;
          &:last-child {
            margin-right: 0;
          }
          .btn_icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            svg {
              display: inline-block;
              font-size: 15px;
              fill: $link-color;
            }
          }
          &:hover,
          &:focus,
          &.active {
            background-color: $primary-color;
            outline: none;
            .btn_icon {
              svg {
                fill: #fff;
              }
            }
          }
        }
        .sort_by {
          display: inline-block;
          margin-right: 30px;
          @include sm {
            display: block;
            width: 100%;
            flex: 0 0 100%;
            order: 1;
            margin-top: 10px;
          }
          select {
            display: inline-block;
            width: 100%;
            height: 38px;
            padding: 0 30px 0 15px;
            border: 1px solid $border-color;
            border-radius: 6px;
            font-size: 15px;
            transition: all 0.2s;
            background-color: #fff;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
            background-repeat: no-repeat;
            background-position-x: 97.5%;
            background-position-y: 50%;
            @include sm {
              height: 45px;
            }
          }
        }
      }
    }
  }
}
.sidebar {
  background-color: rgb(255, 255, 255);
  width: 280px;
  @include sm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: #fff;
    transform: scale(0);
    transition: all 0.35s ease-in-out 0s;
    &.show {
      transform: scale(1);
    }
  }
  .category_wrapper {
    // position: sticky;
    // top: 58px;
    width: 100%;
    @include sm {
      position: relative;
      top: 0;
    }
    .sidebar_wrapper {
      padding: 0;
      .outer_wrapper {
        width: 100%;
        height: auto;
        min-height: 0;
        padding-bottom: 100px;
        @include sm {
          overflow: scroll;
          max-height: 100vh;
        }
        .inner_wrapper {
          padding-top: 45px;
          padding-left: 40px;
          padding-right: 20px;
          @include sm {
            padding: 0 20px;
            padding-top: 45px;
          }
          .btn.close_filter {
            display: none;
            @include sm {
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: 30px;
              right: 10px;
              width: 40px;
              height: 40px;
            }
          }
          form {
            h3 {
              font-family: $head-font;
              font-size: 21px;
              font-weight: 700;
              color: $link-color;
              line-height: 1;
              margin-bottom: 16px;
            }
            .filter_group {
              margin-bottom: 15px;
              .input-range__label--value,
              .input-range__label-container {
                display: none;
              }
              .filter_price {
                font-size: 15px;
                white-space: nowrap;
              }
              h5 {
                font-size: 15px;
                font-weight: 700;
                margin-bottom: 12px;
                color: $link-color;
                transition: all 0.15s ease-in-out 0s;
                padding: 5px 0;
                outline: 0;
              }
              input {
                font-size: 15px;
                width: 100%;
                height: 40px;
                margin-bottom: 10px;
                color: rgb(119, 121, 140);
                background-color: #f3f3f3;
                border-width: 0;
                border-style: initial;
                border-color: initial;
                border-image: initial;
                padding: 0 20px;
                outline: none;
                border-radius: 6px;
              }
              .check_box {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                input {
                  display: inline-block;
                  width: 15px;
                  height: 15px;
                  margin-bottom: 0;
                  cursor: pointer;
                }
                label {
                  padding-left: 10px;
                  margin-bottom: 0;
                  font-size: 15px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
  &.sticky {
    .category_wrapper {
      .sidebar_wrapper {
        .outer_wrapper {
          position: fixed;
          transform: translate3d(0px, 110px, 0px);
          top: 0px;
          width: 280px;
          @include sm {
            width: 100%;
            transform: translate3d(0px, 45px, 0px);
          }
        }
      }
    }
  }
}
.products_row {
  background-color: rgb(247, 247, 247);
  position: relative;
  z-index: 1;
  @include sm {
    margin-left: -7.5px;
    margin-right: -7.5px;
    margin-top: 15px;
  }
  .products_col {
    margin-bottom: 30px;
    @include sm {
      margin-bottom: 15px;
      &.mobile {
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 7.5px;
        padding-right: 7.5px;
        margin-bottom: 15px;
      }
    }

    .product_card {
      display: flex;
      flex-direction: column;
      height: 100%;
      min-height: 440px;
      width: 100%;
      background-color: rgb(255, 255, 255);
      position: relative;
      font-family: $base-font;
      border-radius: 6px;
      @include sm {
        min-height: 312px;
      }
      .product_image {
        height: 240px;
        position: relative;
        text-align: center;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        padding: 5px;
        text-decoration: none;
        @include sm {
          height: 145px;
        }
        img {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }
      .product_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 240px);
        padding: 20px 25px 30px;
        flex-grow: 1;
        @include sm {
          height: calc(100% - 145px);
          min-height: 123px;
          padding: 15px 20px;
        }
        a {
          text-decoration: none;
          h3 {
            font-family: $base-font;
            font-size: 15px;
            font-weight: 700;
            color: $link-color;
            width: 100%;
            // text-overflow: ellipsis;
            // white-space: nowrap;
            margin: 0 0 7px;
            overflow: hidden;
            @include sm {
              font-size: 14px;
              margin: 0 0 5px;
            }
          }
          .product_desc {
            font-family: $base-font;
            font-size: 13px;
            font-weight: 400;
            color: rgb(119, 121, 140);
            @include sm {
              font-size: 12px;
            }
          }
          .product_price {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 15px;
            font-weight: 700;
            color: $primary-color;
            @include sm {
              font-size: 14px;
            }
          }
        }
        .product_meta {
          margin-top: 30px;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          justify-content: center;
          @include sm {
            min-height: 32px;
            margin-top: 15px;
          }
          .product_btn {
            height: 36px;
            padding: 0 17px;
            font-size: 13px;
            font-weight: 700;
            border-width: 2px;
            border-style: solid;
            border-color: $bg-color;
            border-image: initial;
            border-radius: 18px;
            cursor: pointer;
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            width: auto;
            color: $primary-color;
            background-color: transparent;
            & > * {
              pointer-events: none;
            }
            @include sm {
              height: 32px;
            }
            &:hover {
              color: #fff;
              background-color: $primary-color;
              border-color: $primary-color;
              @include sm {
                .btn_text::after {
                  color: #fff;
                }
              }
            }
            .btn_icon {
              display: flex;
              justify-content: center;
              align-items: center;
              svg {
                font-size: 14px;
              }
            }
            .btn_text {
              padding: 0 0 0 6px;
              white-space: nowrap;
              @include sm {
                text-indent: -9999px;
                line-height: 0;
                &::after {
                  display: block;
                  content: "Добавить";
                  color: $primary-color;
                  text-indent: 0;
                  line-height: initial;
                }
              }
            }
            .cart-item {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 9999;
              width: 100px;
              height: 100px;
              padding: 10px;
              border-radius: 50%;
              visibility: hidden;
              overflow: hidden;
              background-color: #fff;
              box-shadow: rgba(0, 0, 0, 0.16) 0 21px 36px;
              transition: all 1s ease;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            &.addtocart {
              pointer-events: all;
              .cart-item {
                visibility: visible;
                transform: translate(500px, -100px);
              }
            }
          }
          .counter {
            display: flex;
            background-color: $primary-color;
            color: rgb(255, 255, 255);
            font-size: 15px;
            font-weight: 700;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            flex-shrink: 0;
            width: 104px;
            height: 36px;
            border-radius: 200px;
            overflow: hidden;
            .counter_btn {
              background-color: transparent;
              color: rgb(255, 255, 255);
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              -webkit-box-pack: center;
              justify-content: center;
              height: 100%;
              cursor: pointer;
              border-width: initial;
              border-style: none;
              border-color: initial;
              border-image: initial;
              padding: 10px;
              svg {
                font-size: 12px;
              }
              .counter_value {
                pointer-events: none;
              }
            }
          }
        }
      }
      &.view_row {
        display: flex;
        flex-direction: row;
        height: 160px;
        min-height: 160px;
        .product_image {
          width: 30%;
          height: 100%;
          padding: 15px 0;
          overflow: hidden;
          @include sm {
            width: 50%;
          }
          img {
            display: block;
            max-height: 100%;
            object-fit: cover;
            -o-object-fit: cover;
          }
        }
        .product_info {
          display: flex;
          flex-direction: row;
          flex-grow: 1;
          height: 100%;
          @include sm {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            flex-grow: 0;
          }
          a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            @include sm {
              width: 100%;
            }
            h3 {
              white-space: unset;
            }
            .product_price {
              margin-top: auto;
            }
          }
          .product_meta {
            align-items: flex-end;
            width: 50%;
            margin-top: 0;
            @include sm {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.react-multi-carousel-item {
  transform-style: flat !important;
}

@keyframes shakeCart {
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
